img { 
    float: left; 
    min-width: 100px;  
    border-radius: 10px;
} 
.paragraph { 
    text-align: justify;  
    font-size: 24px;
} 
.header { 
    text-align: justify; 
    font-size: 44px;
}
.payment {
    float: right;
    cursor: pointer;
    font-weight: bold;
    color: rgb(0, 75, 0);
    background-color: rgba(255, 255, 255, 0.602);
    border: 1px solid green;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
}
.payment:hover {
    float: right;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: green;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
}
.payment2 {
    float: right;
    cursor: pointer;
    font-weight: bold;
    color: rgb(0, 75, 0);
    background-color: rgba(134, 255, 215, 0.9);
    border: 1px solid green;
    border-radius: 10px;
    padding: 8px;
    font-size: 32px;
}
.payment2:hover {
    float: right;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: rgba(12,126,37,0.9);
    border-radius: 10px;
    padding: 8px;
    font-size: 32px;
}