img { 
    float: left; 
    min-width: 100px;  
} 
.paragraph { 
    text-align: justify;  
    font-size: 24px;
} 
.header { 
    text-align: justify; 
    font-size: 44px;
}
.payment {
    float: right;
    cursor: pointer;
    font-weight: bold;
    color: rgb(0, 75, 0);
    background-color: rgba(0, 128, 0, 0.507);
    border: 2px solid green;
    border-radius: 5px;
    padding: 8px;
    font-size: 18px;
}
.payment:hover {
    float: right;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: green;
    border-radius: 5px;
    padding: 8px;
    font-size: 18px;
}