.charitypics {
    max-height: 250.5px;
    // border-radius: 10px;
}
img { 
    float: left; 
    min-width: 100px;  
    border-radius: 100px;
    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
}

.container {
        animation: fadeIn ease .5s;
    -webkit-animation: fadeIn ease .5s;
}
.modal {
        animation: fadeIn ease .5s;
    -webkit-animation: fadeIn ease .5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
.btn-success {
    font-size: 36px;
}

.helper {
    color: green;
}

.blogPics {
    max-width: 350px;
}

.readMore {
    color: rgba(0, 0, 255, 0.6);
}

.articles {
    margin-top: 200px;
}

.weeklyCharity {
    margin-top: 120px;
}

.missionStatement {
    padding-top: 7%;
    padding-bottom: 10%;
    background-image: url("https://thumbs.dreamstime.com/b/woman-volunteer-helps-clean-beach-garbage-earth-day-environmental-improvement-concept-ecology-safety-future-152529102.jpg");
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.motto {
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(134, 255, 215, 0.6);
    color: rgb(0, 75, 0);
}

.appName {
    padding: 10px;
    background-color: rgba(134, 255, 215, 0.6);
    font-size: 54px;
    color: rgb(40, 71, 245);
    font-weight: bold;
    // border-bottom: 3px solid rgb(25, 228, 25);
}

.featureCharity {
    color: rgba(0, 0, 255, 0.6);
    font-weight: bold;
    border-bottom: 1px solid green;
}

.footer {
    color: green;
}

.cardText {
    font-size: 12px;
}

.modal-header {
    background-color: rgb(28, 180, 28);
}

.carouselInfo {
    padding: 10px;
    background-color: rgb(25, 228, 184);
    color: black;
}

.carouselReadMore {
    background-color: rgb(25, 228, 184);
    margin-top: -35px;
    padding: 10px;
    float: right;
    font-weight: bold;
}

.carouselLabel {
    padding: 10px;
    background-color: rgb(25, 228, 184);
    color: black;
    font-size: 24px;
    // border-bottom: 3px solid rgb(25, 228, 25);
}
.carouselImg {
    max-height: 500px;
}

.paymentModal {
    background-color: white;
}

.paymentModalTitle{
    color: green;
}

.modal-title {
    color: white;
}

.profileInputs {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(1, 75, 1);
    border: none;
    border-radius: none;
    font-weight: bold;
    color: green;
}

.profileLabels {
    border-bottom: 1px solid green;
    font-weight: bold;
}

.fa-trash-alt {
    cursor: pointer;
}
.fa-trash-alt:hover {
    font-size: 24px;
}