.charitypics {
    max-height: 250.5px;
}

.btn-success {
    font-size: 36px;
}

.helper {
    color: green;
}

.blogPics {
    max-width: 350px;
}

.readMore {
    color: blue;
}

.missionStatement {
    padding-top: 7%;
    padding-bottom: 10%;
    background-image: url("https://thumbs.dreamstime.com/b/woman-volunteer-helps-clean-beach-garbage-earth-day-environmental-improvement-concept-ecology-safety-future-152529102.jpg");
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.motto {
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(25, 228, 25, 0.5);
}

.appName {
    padding: 10px;
    background-color: rgba(25, 228, 25, 0.5);
    font-size: 54px;
    color: white;
    // border-bottom: 3px solid rgb(25, 228, 25);
}

.footer {
    color: green;
}

.cardText {
    font-size: 12px;
}